
   @media screen and (max-width : 1554px){
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
      width: 310px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:150px;
      grid-template-columns: auto auto;
    }
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:300px;
      width:250px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
    .sectionCard{
      grid-template-columns: auto;
    }
    .button{
      margin-left: -2px;
      display: none;
    }
    .rectangle74{
      background-color:#14274c;
      height:51px;
      width:400px;
      border-radius:11px;
      margin-left:-2 px;
      display: none;
    }
   }

   @media screen and (max-width : 1440px  ){
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
      width: 300px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:190px;
      grid-template-columns: auto auto;
    }
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:300px;
      width:240px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
    
   }

   @media screen and (max-width : 1313px){
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
        width: 300px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:150px;
      grid-template-columns: auto auto;
    }
    .link a{
      text-decoration: none;  
      background-color: #14274C;
      padding: 1px 50px 20px;
      color: #F0FFFF;
      font-weight: 700;
      border-radius: 8px;
    }
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:300px;
      width:240px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
   }
   
   @media screen and (max-width : 1024px){
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
      width: 150px;
      height: 200px;
      border-radius:11px;
      margin-left: 200px;
      border:3px solid #14274c; margin-right: -20px;
      }
   
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:120px;
      width:70px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
    .inter img{
      width: 75px;
      }
      
   }
   @media screen and (max-width : 999px){
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
      width: 200px;
      height: 220px;
      border-radius:11px;
      border:3px solid #14274c;
      margin: 20PX 1PX 2px 3px;
    }
    header{
      display: none;
    }
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:130px;
      width: 130px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
    .inter img{
      width: 75px;
      }
      .link a{
       
      }
   }
   @media screen and (max-width : 540px) {
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
      width: 517px;
      height: 220px;
      border-radius:11px;
      border:3px solid #14274c;
      margin: 20PX 1PX 2px 3px;
    }
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:130px;
      width: 445px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
   }

   @media screen and (max-width : 425px){
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
      width: 394px;
      height: 220px;
      border-radius:11px;
      border:3px solid #14274c;
      margin: 20PX 1PX 2px 3px;
    }
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:130px;
      width: 330px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
    .inter img{
      width: 75px;
      }
   }

   @media screen and (max-width : 412px){
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
      width: 390px;
      height: 220px;
      border-radius:11px;
      border:3px solid #14274c;
      margin: 20PX 1PX 2px 3px;
    }
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:130px;
      width: 320px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
    .inter img{
      width: 75px;
      }
   }
   @media screen and (max-width : 375px){
    .rectangle71{
        background-color:rgba(217, 217, 217, 0);
        width: 350px;
        height: 220px;
        border-radius:11px;
        border:3px solid #14274c;
        margin: 20PX 1PX 2px 3px;
      }
      .inter{
        background-color:rgba(217, 217, 217, 0);
        height:130px;
        width: 280px;
        border-radius:11px;
        border:3px solid #14274c;
        margin-left:30px;
        margin-top: 30px;
      }
   }
   @media screen and (max-width : 320px){
    .rectangle71{
      background-color:rgba(217, 217, 217, 0);
      width: 300px;
      height: 220px;
      border-radius:11px;
      border:3px solid #14274c;
      margin: 20PX 1PX 2px 3px;
    }
    .inter{
      background-color:rgba(217, 217, 217, 0);
      height:130px;
      width: 230px;
      border-radius:11px;
      border:3px solid #14274c;
      margin-left:30px;
      margin-top: 30px;
    }
    .inter img{
      width: 75px;
      }
   }
   @media screen and (max-width : 280px){
    .rectangle71{
        background-color:rgba(217, 217, 217, 0);
        width: 260px;
        height: 220px;
        border-radius:11px;
        border:3px solid #14274c;
        margin: 20PX 1PX 2px 3px;
      }
      .inter{
        background-color:rgba(217, 217, 217, 0);
        height:130px;
        width: 200px;
        border-radius:11px;
        border:3px solid #14274c;
        margin-left:30px;
        margin-top: 30px;
      }
   }    
   